:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
}
h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
  padding-top: 20px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  margin-bottom: 10px;
}

h4 {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: left;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.btn {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 18px 15px;
  box-shadow: var(--box-shadow);
  margin-top: 20px;
}

.project {
  margin-top: 50px;
}

.btn:hover {
  background-color: var(--primary-color);
  color: #0a58ca;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  margin-bottom: 20px;
}

.email-link:hover {
  text-decoration: underline;
}
.yoga,
.weather,
.yogurt {
  border: 2px white solid;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
  padding: 5px;
}
